Your Search Results!

<% @set.each do |recipe| %>
  <li>Recipe name: <%= recipe.name %>
      Vegan/Vegetarian: <%= recipe.vegan_vegetarian %>
      Price: <%= recipe.price %>
      Contains Allergens? <%= recipe.contains_allergens %>
      Level of Difficulty? <%= recipe.level_of_difficulty %>
      Number of Likes <%= recipe.number_of_likes %>
      </li>
<% end %>