<h3>Hello there! </h3>
<p>Email: <%= current_user.email if current_user.email %></p>
<p>My Recipes:  
  <% Recipe.all.each do |recipe| %>
  <% if recipe.user_id == current_user.id %>
  <br><br><%= recipe.name %> 
  <br>Description: <%= recipe.description %>
  <br>Calories: <%= recipe.calories %>
  <br>Number of Likes: <%= recipe.number_of_likes %>
  <br>Price: <%= recipe.price %>
  <br>Vegan/Vegetarian: <%= recipe.vegan_vegetarian %>
  <br>Contains Allergens: <%= recipe.contains_allergens %>
  <br>Level of Difficulty: <%= recipe.level_of_difficulty %> 

  <br><br>Ingredients:
  <% Ingredient.all.each do |ingredient| %> 
  <% if ingredient.recipe_id == recipe.id %> 
  <br><%= ingredient.quantity %>
  <%= ingredient.name %> 
  <% end %> 
  <% end %> 

  <br><br>Instructions:
  <% RecipeStep.all.each do |recipestep| %>
  <% if recipestep.recipe_id == recipe.id %>
  <br><%= recipestep.step_number %>.
  <%= recipestep.step_description %>
  <% end %> 
  <% end %>
  <br><br>
  <%= button_to "Like this Recipe!", like_path(id: recipe), :class => "button medium", :method => :patch %>

  <% end %> 
  <% end %> 
</br>
<br>
<br>
<%= button_to "Create a New Recipe!", recipes_new_path, :class => "button medium", :method => :get %>