<h1> Write a Recipe! </h1>
<%= simple_form_for @recipe do |f| %>
  Name: <%= f.text_field :name %>
  Description: <%= f.text_field :description %>
  Ingredients: <%= f.text_field :ingredients %>
  Time to complete: <%= f.text_field :time %>
  Recipe Steps: <%= f.text_field :steps %>
  <%= f.button :submit %>
<% end %>