<div class="outer">
  <div class="inner">

    <h1 id="recipename"><%= @recipe.name %></h1> 
    <p style="text-align:center; ">Recipe by <%= User.where(id: @recipe.user_id).first.name %></p> 
    <div class="icons">
      <% if @recipe.vegan_vegetarian == "1" %>
        <%= image_tag "vegan.png", class: "icons" %>
      <% end %>
      <% if @recipe.contains_allergens == false %>
        <%= image_tag "allergens.png", class: "icons" %>
      <% end %>
      <%= image_tag "likes.png", class: "icons" %><%= @recipe.number_of_likes %>
    </div>
    <p id="recipedesc"><br>"<%= @recipe.description %>"</p>
    <div class="information">
      <%= image_tag "calories.png", class: "icons" %><%= @recipe.calories %> cal
      <%= image_tag "price.png", class: "icons" %>$<%= @recipe.price %>
      <%= image_tag "difficulty.png", class: "icons" %><%= @recipe.level_of_difficulty %>
    </div>
    <div class="ingredients">
      <h1 style="padding-bottom: 10px;">Ingredients</h1>
      <% Ingredient.all.each do |ingredient| %> 
        <% if ingredient.recipe_id == @recipe.id %> 
        <h4><%= ingredient.quantity %> <%= ingredient.name %></h4>
      <% end %> 
      <% end %>
      </h3>
    </div>

  <div class="steps">
    <h1 style="padding-bottom: 10px;">Steps</h1>
    <h4><%= @recipe.steps %></h4>
  </div>
  <div class="col-sm-4">
    </div>
  <div class="col-sm-4">  
    <%= button_to "Back", users_path(current_user.id), :class => "show-buttons center-button", :method => :get %>
    <%= button_to "Create a New Recipe!", recipes_new_path, :class => "show-buttons", :method => :get %>
  </div>
  <div class="col-sm-4">
    </div>
  </div>
</div>
