<div class="outer">
  <div class="inner">

  <h1 id="recipename"><%= @recipe.name %>:</h1>  
    <h2 id="recipedesc"><br>"<%= @recipe.description %>"</h2>
    <h3 id="info"><br>Calories: <%= @recipe.calories %>
    <br>Number of Likes: <%= @recipe.number_of_likes %>
    <br>Price: <%= @recipe.price %>
    <br>Vegan/Vegetarian: <%= @recipe.vegan_vegetarian %>
    <br>Contains Allergens: <%= @recipe.contains_allergens %>
    <br>Level of Difficulty: <%= @recipe.level_of_difficulty %> 

    <h1 id="ingname"><br><br>Ingredients:</h1>
    <% Ingredient.all.each do |ingredient| %> 
    <% if ingredient.recipe_id == @recipe.id %> 
      <h3 id="info"><br><%= ingredient.quantity %>
      <%= ingredient.name %></h3>
    <% end %> 
    <% end %>
    </h3>
    
  <br>

    <h1 id="stepsname">Steps:</h1>
    <h3 id="info"><%= @recipe.steps %></h3>
  <br>
  <%= button_to "Back", users_path(current_user.id), :class => "button medium", :method => :get %>
  <%= button_to "Create a New Recipe!", recipes_new_path, :class => "button medium", :method => :get %>
  </div>
</div>
