
<div class="recipes">
  <% if current_user %>
    <h2>My Recipes</h2>
    <% @recipes.each do |recipe| %>
    <div class="recipe">
        <h4 id="recipe"><%= link_to recipe.name, recipe_path(id: recipe.id) %></h4>
        <p id="difficulty" style="margin-bottom: 10px;">Difficulty: <%= recipe.level_of_difficulty %></p>
        <p style="margin-bottom: 10px;"><%= recipe.description %></p>
        <p style="text-align: right">Recipe by <%= current_user.name %></p>
    </div>
    <% end %>
    <% if @recipes.count == 0 %>
      You don't have any recipes. Create one!
    <% end %>
    <h2>Friend's Recipes</h2>
    <% @friend_recipes.each do |recipe| %>
      <div class="recipe">
          <h4 id="recipe"><%= link_to recipe.name, recipe_path(id: recipe.id) %></h4>
          <p id="difficulty" style="margin-bottom: 10px;">Difficulty: <%= recipe.level_of_difficulty %></p>
          <p style="margin-bottom: 10px;"><%= recipe.description %></p>
          <p style="text-align: right">Recipe by <%= User.where(id: recipe.user_id).first.name %></p>
      </div>
    <% end %>
    <% if @friend_recipes.count == 0 %>
      Your friends have not created any recipes.
    <% end %>
      <div class="new-recipe" href="/recipes/new">
        Create New Recipe
      </div>
      <script> 
      $(".new-recipe").on("click", function(){
          window.location = $(this).attr("href");
      });
      </script>
  <% end %>
</div>