<div class="create-recipe form-horizontal">
	<h1 style="margin: 0px 0px 30px 0px; text-align: center"> Add Ingredients! </h1>
	<%= simple_form_for @ingredient do |f| %>
		<div class="form-group name">
			<%= f.label :name, class: "col-sm-2 control-label" %>
			<div class="col-sm-8">
				<%= f.text_field :name, autofocus: true , class: "form-control" %>
		  	</div>
		</div>
		<div class="form-group">
			<%= f.label :quantity, class: "col-sm-2 control-label" %>
			<div class="col-sm-8">
				<%= f.number_field :quantity, autofocus: true , class: "form-control" %>
			</div>
		</div>
		<%= f.input :recipe_id, as: :integer, :as => :hidden, input_html: {value: params[:id], id: 'recipe_id'} %>
		<div class="col-sm-4">
		</div>
		<div class="col-sm-4">
			<%= f.button :submit, :class => 'create-recipe-button'%>
		</div>
		<div class="col-sm-4">
		</div>
	<% end %>